<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Home </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Home</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Bitcoin</ion-card-subtitle>
			<ion-card-title>R$ {{bitcoinValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<google-chart [data]="pieChart"></google-chart>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Ethereum</ion-card-subtitle>
			<ion-card-title>R$ {{ethereumValue}}</ion-card-title>
		</ion-card-header>
		
		<ion-card-content>
			<google-chart [data]="candlestickChart"></google-chart>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Bitcoin Cash</ion-card-subtitle>
			<ion-card-title>R$ {{bitcoinCashValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Chiliz</ion-card-subtitle>
			<ion-card-title>R$ {{chilizValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Chainlink</ion-card-subtitle>
			<ion-card-title>R$ {{chainlinkValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Litecoin</ion-card-subtitle>
			<ion-card-title>R$ {{litecoinValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Pax Gold</ion-card-subtitle>
			<ion-card-title>R$ {{paxGoldValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>USD Coin</ion-card-subtitle>
			<ion-card-title>R$ {{usdCoinValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>WiBX</ion-card-subtitle>
			<ion-card-title>R$ {{wibxValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>XRP</ion-card-subtitle>
			<ion-card-title>R$ {{xrpValue}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<canvas></canvas>
		</ion-card-content>
	</ion-card>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
