<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Convertor </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Convertor</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="ion-text-center">
		<ion-item>
			<ion-label>Valor</ion-label>
			<ion-input type="number"></ion-input> </ion-item
		><ion-item>
			<ion-label>Moeda</ion-label>
			<ion-select placeholder="Select One">
				<ion-select-option value="real">Real</ion-select-option>
				<ion-select-option value="bitcoin">Bitcoin</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Valor</ion-label>
			<ion-input type="number"></ion-input> </ion-item
		><ion-item>
			<ion-label>Moeda</ion-label>
			<ion-select placeholder="Select One">
				<ion-select-option value="real">Real</ion-select-option>
				<ion-select-option value="bitcoin">Bitcoin</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-button color="success">Confirmar</ion-button>
		<h3>Resultado: R$5000</h3>

	</div>
</ion-content>
