<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Convertor </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Convertor</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="ion-text-center">
		<br><br><br>
		<ion-item>
			<ion-label>Moeda</ion-label>
			<ion-select name="moeda1" [(ngModel)]="cbMoeda1" placeholder="$">
				<ion-select-option value="BTC">Bitcoin</ion-select-option>
				<ion-select-option value="ETH">Ethereum</ion-select-option>
				<ion-select-option value="BCH">Bitcoin Cash</ion-select-option>
				<ion-select-option value="CHZ">Chiliz</ion-select-option>
				<ion-select-option value="LINK">Chainlink</ion-select-option>
				<ion-select-option value="LTC">Litecoin</ion-select-option>
				<ion-select-option value="PAXG">Pax Gold</ion-select-option>
				<ion-select-option value="USDC">USD Coin</ion-select-option>
				<ion-select-option value="WBX">WiBX</ion-select-option>
				<ion-select-option value="XRP">XRP</ion-select-option>
			</ion-select> </ion-item
		><ion-item>
			<ion-label>Valor</ion-label>
			<ion-input required type="number" [(ngModel)]="edtValor1" name="valor1" min="1"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Moeda</ion-label>
			<ion-select name="moeda2" [(ngModel)]="cbMoeda2" placeholder="$">
				<ion-select-option value="real">Real</ion-select-option>
				<ion-select-option value="dolar">Dólar</ion-select-option>
			</ion-select> </ion-item
		><ion-item>
			<ion-label>Valor</ion-label>
			<ion-input type="number" [(ngModel)]="edtValor2" name="valor2" readonly></ion-input>
		</ion-item>
		<form (ngSubmit)="onCalcularClick()">
			<div class="ion-padding">
				<ion-button expand="block" type="submit" class="ion-no-margin">Calcular</ion-button>
			</div>
		</form>
	</div>
</ion-content>
