<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Calculadora de Investimentos </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Calculadora de Investimentos</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-card *ngFor="let elemento of listaInvest; let i = index">
		<ion-item>
			<ion-label>{{elemento.moeda}}</ion-label>
		</ion-item>
		<ion-card-content><p>{{elemento.valorInicial}}</p><p>{{elemento.valorAtual}}</p></ion-card-content>
	</ion-card>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="add" (click)="novo()"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
