<ion-header>
	<ion-toolbar>
		<ion-title>{{title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<google-chart [data]="graph"></google-chart>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Alta</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p>{{high}}</p>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Baixa</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p>{{low}}</p>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Volume Vendido</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p>{{vol}}</p>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Preço da Ultima Negociação</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p>{{last}}</p>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Preço de Compra</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p>{{buy}}</p>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Preço de Venda</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p>{{sell}}</p>
		</ion-card-content>
	</ion-card>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="{{icone}}" (click)="favoritar()"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
